<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog001.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
            <li><a href="operadores-aritmeticos.html">Operadores Aritmeticos</a></li>
            <li><a href="strings.html">Strings</a></li>
            <li><a href="test/test001.html">Lección 1</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Comentarios</h1>
        <h2 class="title-2">¿Qué es un comentario?</h2>
        <p>Los comentarios permiten documentar de manera interna el código, es importante para poder entender lo que
            realiza esa sección y tambien permitirá a otras personas analizar y entender lo que se hizo.</p>
        <p>Comentarios de una linea:</p>
        <p class="code"><b class="green">// Este tipo de comentario se establece poniendo doble barra.</b></p>
        <p>Comentario de varias lineas:</p>
        <p class="code"><b class="green">/*<br> &emsp;Este tipo de comentario se establece colocando<br> &emsp;/* al
                inicio y */ al final.<br>&emsp; Esto permitira realizar parrafos de información <br>*/</b></p>
        <br>
        <b>Nota: Los comentarios no son tomados en cuenta al momento de ejecución por lo tanto no alteran el
            comportamiento del programa o la lógica del mismo.</b>
        <div class="image-center">
            <img src="../resources/img/variables.png" alt="variables">
            <i>Ejemplo de comentarios.</i>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <p>
                Redactar un algoritmo para sumar dos números como comentario de varias líneas.
                <br>
                Redactar tu nombre y apellido, fecha de nacimiento, ciudad en la que resides en tres líneas usando
                comentarios de una línea.
            </p>
        </div>
        <div class="nav">
            <a class="preview" href="unir-html-con-js.html">
                < Anterior</a>
                    <a class="next" href="variables.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>