<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog002.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
            <li><a href="operadores-aritmeticos.html">Operadores Aritmeticos</a></li>
            <li><a href="strings.html">Strings</a></li>
            <li><a href="test/test001.html">Lección 1</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Constantes</h1>
        <h2 class="title-2">¿Qué es una constante?</h2>
        <p>Una constante es un espacio almacenado en memoria que contendrá un valor el cual se va a mantener en toda la ejecución del código este no puede cambiar.</p>
        <p>Por ejemplo:</p>
        <p class="code"><b class="yellow">const</b> <b class="blue">PI</b> <b>=</b> <b class="green">3.1416</b><b>;</b></p>
        <p>Si se intenta cambiar el valor de la constante se producirá un error en el código.</p>
        <p>Por convención o buenas practicas el nombre que se le de a la constante debe estar todo en mayúsculas.</p>
        <div class="image-center">
            <img src="../resources/img/constantes.png" alt="variables">
            <i>Definición de constante.</i>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Crear constantes que tu consideres importantes</li>
                <li>Mostrar por consola la información almacenada en todas las constantes.</li>
                <li>Comentar el funcionamiento del código linea por linea.</li>
            </ul>
        </div>
        
        
        <div class="nav">
            <a class="preview" href="variables.html">< Anterior</a>
            <a class="next" href="tipos-de-datos.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>