<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog005.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulo 2</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="funciones.html">Funciones</a></li>
        </ul>
        <p>Proyecto en construcción</p>
    </aside>
    <div class="container">
        <h1 class="title-1">Funciones</h1>
        <p class="code"><b class="blue">function</b> <b></b><b class="orange">[nombre de la función]</b><b class="blue">([parametro_1], [parametro_2], ...){</b><br>            
            &emsp;&emsp;<b class="green">Sentencias...;</b>
            <br>
            &emsp;&emsp;<b class="green">return [valor];</b>
            <br>
            <b class="blue">}</b></p>
        <p class="code"><b class="orange">let [nombre de variable] = </b></b><b class="blue">function</b><b class="blue">([parametro_1], [parametro_2], ...){</b><br>            
            &emsp;&emsp;<b class="green">Sentencias...;</b>
            <br>
            &emsp;&emsp;<b class="green">return [valor];</b>
            <br>
            <b class="blue">}</b></p>
        <div class="resources">
            <a href="../resources/Funciones.pdf" target="_blank">
                <img class="logo-source-download" src="../resources/img/PDF-Logo.png" alt="Funciones.pdf">
                <b>Recurso:</b> Funciones.pdf
            </a>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Crea 10 funciones que permitan realizar diferentes operaciones 8 que devuelvan un valor y 2 que solo muestren un mensaje.</li> 
                <li>Comenta el funcionamiento o algoritmo utilizado.</li> 
            </ul>
        </div>
        <div class="nav">
            <a class="preview" href="test/test001.html">< Anterior</a>
            <a class="next" href="">Siguiente ></a>
        </div>
       
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>