<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog003.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
            <li><a href="views/operadores-aritmeticos.html">Operadores Aritmeticos</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Operadores aritmeticos</h1>
        <p>Operadores aritmeticos: <a href="https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Expressions_and_Operators" target="_blank">Mozilla</a></p>
        <ul>
            <li>Suma</li>
            <li>Resta</li>
            <li>Multiplicación</li>
            <li>División</li>
            <li>Potencia</li>
            <li>Módulo</li>
            <li>Incremento</li>
            <li>Decremento</li>
            <li>Acumuladores</li>
        </ul>
        <div class="resources">
            <a href="../resources/operaciones-aritmeticas.pdf" target="_blank">
                <img class="logo-source-download" src="../resources/img/PDF-Logo.png" alt="Operadores-Aritmeticos.pdf">
                <b>Recurso:</b> Operadores aritmeticos.pdf
            </a>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Generar 50 operaciones matemáticas diferentes.</li>
                <li>Generar 25 aumentos y 25 decrementos.</li>
                <li>Generar 50 acumulaciones con diferentes operadores.</li>
                <li>Comentar el funcionamiento del código linea por linea. Utilizar console.log() para mostrar el resultado de cada operación.</li>
            </ul>
        </div>
        <div class="nav">
            <a class="preview" href="tipos-de-datos.html">< Anterior</a>
            <a class="next" href="">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>