<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog001.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
            <li><a href="views/operadores-aritmeticos.html">Operadores Aritmeticos</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Rutas</h1>
        <p>Los enlaces de Internet se conforman por una determinada cantidad de rutas (normalmente conocidas como "paths"), estas indican la dirección a la que debe ir el navegador cuando se realiza un clic en dicho enlace. <b>Fuente: </b><a href="https://pressroom.hostalia.com/white-papers/rutas-absolutas-y-relativas/" target="_blank">Hostalia</a></p>
        <h2>Directorio del proyecto</h2>
        <div class="image-center">
            <img src="../resources/img/estructura del directorio.png" alt="Estructura web">
            <i>Estructura del proyecto.</i>
        </div>
        <h2 class="title-2">Rutas absolutas</h2>
        <p>Este tipo de path incluye el nombre del dominio al cual queremos tener acceso.</p>
        <p class="code"><b class="orange">https://</b><b class="green">localhost</b><b class="blue">/curso-js/index.html</b></p>
        <p>Las rutas absolutas se utilizan cuando queremos enlazar algún recurso que se encuentra hospedado en otra máquina o en otra web. También puede ser utilizado para vínculos locales, pero se desaconseja utilizar este método en estos casos, ya que si migramos el contenido a otro dominio se romperán todos los vínculos de las rutas absolutas locales, lo que afectará a nuestro posicionamiento web.</p>
        <h2 class="title-2">Rutas relativas</h2>
        <p>Las rutas relativas son importantes cuando estás creando tu web, porque te permite comprobar los enlaces en los entornos de desarrollo y producción, o facilitar la migración de tu web a otro dominio. Estas rutas solo inican el orden de los directorios.</p>
        <div class="image-center">
            <img src="../resources/img/estructura-web.png" alt="Diagrama de la pagina">
            <i>Estructura de acceso.</i>
        </div>
        <div class="image-center">
            <img src="../resources/img/intro_js_to_html.png" alt="js_to_html">
            <i>Insertar script JS en HTML haciendo uso de la ruta relativa.</i>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Crear en la carpeta js subcarpetas.</li>
                <li>Dentro de cada carpeta agregar un fichero js.</li>
                <li>Crear una carpeta views en el directorio raiz.</li>
                <li>Crear dentro de views una carpeta views-into.</li>
                <li>Crear dentro de views-into un fichero html.</li>
                <li>Insertar en el fichero html el código de la ruta relativa de todos los js generados.</li>
                <li>Comentar el funcionamiento del código linea por linea.</li>
            </ul>
        </div>
        <div class="nav">
            <a class="preview" href="../index.html">< Anterior</a>
            <a class="next" href="unir-html-con-js.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>