<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog002.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
            <li><a href="views/operadores-aritmeticos.html">Operadores Aritmeticos</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Tipos de datos</h1>
        <p>Los tipos de datos primitivos controlados por el operador typeof fuente: <a href="https://developer.mozilla.org/es/docs/Web/JavaScript/Data_structures" target="_blank">Mozilla</a></p>
        <ul>
            <li>String: Cadena de texto</li>
            <li>Number: Número</li>
            <li>Boolean: Verdadero o falso</li>
            <li>Undefined: No definido</li>
            <li>Null: Nulo</li>
            <li>Object: Objeto</li>
        </ul>
        <div class="image-center">
            <img src="../resources/img/tipos-de-datos-primitivos.png" alt="datos primitivos">
            <i>Tipos de datos primitivos.</i>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Crear variables con todos los tipos de datos.</li>
                <li>Usar typeof para visualizar el tipo de dato de cada variable.</li>
                <li>Comentar el funcionamiento del código linea por linea.</li>
            </ul>
        </div>
        <div class="nav">
            <a class="preview" href="constantes.html">< Anterior</a>
            <a class="next" href="operadores-aritmeticos.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>