<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/codigo.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Añadir vinculo entre JS y el HTML</h1>
        <h2 class="title-2">¿Como hacerlo?</h2>
        <p>Para vincular un archivo JS con el HTML hay que utilizar la etiqueta &lt;script&gt;&lt;/script&gt;, haciendo
            uso el atributo src colocando como valor el fichero JS. Para ello debemos crear un fichero JS y colocar el
            código que queremos que se ejecute en el HTML.</p>
        <div class="image-center">
            <img src="../resources/img/create_js_script.png" alt="js_to_html">
            <i>Generar el fichero JS.</i>
        </div>
        <p>Si lo puedes notar el fichero [codigo.js] usa el comando "console.log([valor])" lo cuál permite mostrar por consola un valor.</p>
        <div class="image-center">
            <img src="../resources/img/intro_js_to_html.png" alt="js_to_html">
            <i>Insertar script JS en HTML.</i>
        </div>
        <p>Para poder hacer uso del script se lo importa de la manera que se muestra previamente.</p>
        <div class="image-center">
            <img src="../resources/img/result_of_importing_js.png" alt="js_to_html">
            <i>Insertar script JS en HTML.</i>
        </div>
        <p>Finalmente se presiona la tecla F12 para acceder a la consola y visualizar lo que imprime el JS.</p>
        
        <div class="nav">
            <a class="preview" href="../index.html">< Anterior</a>
            <a class="next" href="comentarios.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>