<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/prog002.js"></script>
</head>

<body>
    <header class="header">
        <h1>Curso JS</h1>
    </header>
    <aside class="aside">
        <h3>Módulos</h3>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="unir-html-con-js.html">Unir HTML con JS</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="variables.html">Variables</a></li>
            <li><a href="constantes.html">Constantes</a></li>
            <li><a href="tipos-de-datos.html">Tipos de datos</a></li>
        </ul>
    </aside>
    <div class="container">
        <h1 class="title-1">Variables</h1>
        <h2 class="title-2">¿Qué es una variable?</h2>
        <p>Una variable es un espacio almacenado en memoria que contendrá un valor que puede cambiar a lo largo de la
            ejecución del código.</p>
        <p>Para definir una variable en JS se procede a utilizar la palabra reservada let seguido del nombre de la
            variable.</p>
        <p>Por ejemplo:</p>
        <p class="code"><b class="yellow">let</b> <b class="blue">nombre</b><b>;</b></p>
        <p>Por otra parte esta variable tambien puede ser inicializada es decir declararla y darle un valor al mismo
            tiempo.</p>
        <p class="code"><b class="yellow">let</b> <b class="blue">nombre</b> <b>= "</b><b class="orange">Andrés
                Sevillano</b><b>";</b></p>
        <p>Las variables en JS no necesitan tener un tipo de dato como en otros lenguajes de programación por lo cuál
            cambian su tipo con respecto al valor que esten almacenando en ese momento.</p>
        <div class="image-center">
            <img src="../resources/img/variables.png" alt="variables">
            <i>Definición de variables.</i>
        </div>
        <p>Como se menciono anteriormente las variables pueden cambiar su valor a lo largo de la ejecución del programa para ello solo se hace uso del nombre y se le asigna un valor.</p>
        <p class="code"><b class="blue">nombre</b> <b>= "</b><b class="orange">Lionel Messi</b><b>";</b></p>
        <div class="image-center">
            <img src="../resources/img/reasingando-valor-a-variable.png" alt="variables">
            <i>Cambiando valor a variable.</i>
        </div>
        <div class="homework">
            <b>Tarea:</b>
            <ul>
                <li>Crear una variable nombre, apellido, edad y dirección y asignar tu información</li>
                <li>Crear una variable numero_1 y numero_2 y asignarle valores a ambas variables.</li>
                <li>Mostrar por consola la información almacenada en todas las variables.</li>
                <li>Comentar el funcionamiento del código linea por linea.</li>
            </ul>
        </div>

        <div class="nav">
            <a class="preview" href="comentarios.html">
                < Anterior</a>
                    <a class="next" href="constantes.html">Siguiente ></a>
        </div>
        <footer class="footer">
            <p>
                <b>Footer</b>
                <br>
                <a href="andres.sevillano.net@gmail.com">Andres Sevillano</a>
            </p>
        </footer>
</body>

</html>